.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.login > img {
  width: 100%;
  object-fit: contain;
  height: 30vh;
}
.login > a {
  padding: 20px;
  background-color: #1db954;
  border-radius: 90px;
  font-weight: 800;
  color: white;
  text-decoration: none; /*no decoration on click*/
}
